<article>
  <h1>Update a Blog Post</h1>

  <form name="updated-post" action="update" method="post">
    <input type="hidden" name="_method" value="PUT"> <!-- HTTP has not adopted the put or patch verbs yet. -->

    <label class="form" for="title">Title:</label>
    <input class="form" type="text" name="title" id="title" value="<%= @mypost[:title] %>">
    <label class="form" for="author">Author:</label>
    <input class="form" type="text" name="author" id="author" value="<%= @mypost[:author] %>">
    <label class="form" for="Body">Body:</label>
    <textarea class="form" name="body" id="body" rows="8" cols="40"><%= @mypost[:body] %></textarea> <!-- the row and cols is the minimum that the box is shown on the screen -->

    <%= tag(:input, :type => "hidden",
      :name => request_forgery_protection_token.to_s,
      :value => form_authenticity_token) %>

    <button class="form" type="submit">Submit</button>

  </form>


</article>
